*
!.gitignore
!.github/
!.github/**

!LICENSE
!README.md

!setup.sh

!example.docker-compose.yml
!.dockerignore
!docker/
!docker/**

!package.json
!package-lock.json
!tsconfig.json
!eslint.config.mjs
!scripts/
!scripts/**

!webpack.config.js
!public/
!public/**
!src/
!src/**
